body {
    background-color: #73617d;
}

.gridContenedor {
    display: grid;
    grid-template-areas: 'content1 content2 content3 content3 content4'
                         'content1 content2 content3 content3 content4'
                         'content5 content2 content3 content3 content4'
                         'content5 content6 content6 content7 content8'
                         'content9 content6 content6 content10 content8'
                         'content11 content11 content12 content10 content13'
                         'content11 content11 content12 content14 content14';

    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 230px 230px 230px 230px 230px 230px 230px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
    margin-top: 4%;
    gap: 1em;
}

.content1 {
    grid-area: content1;
    background-color: #fcc664;
    color: white;
    text-align: left;
    padding: 10%;
}
.content2 {
    grid-area: content2;
    background-color: #c1b9ae;
    color: white;
    text-align: left;
    padding: 10%;
}
.content3 {
    grid-area: content3;
    justify-content: center;
}

.content4 {
    grid-area: content4;
    justify-content: center;
}
.content5 {
    grid-area: content5;
    background-color: #c1b9ae;
    color: white;
    text-align: left;
    padding: 10%;
}
.content6 {
    grid-area: content6;
    justify-content: center;
}
.content7 {
    grid-area: content7;
    background-color: #fd8b70;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 37px;
}
.content8 {
    grid-area: content8;
    background-color: #c1b9ae;
    color: white;
    text-align: left;
    padding: 10%;
}
.content9 {
    grid-area: content9;
    justify-content: center;
}
.content10 {
    grid-area: content10;
    justify-content: center;
}
.content11 {
    grid-area: content11;
    justify-content: center;
}
.content12 {
    grid-area: content12;
    background-color: #c1b9ae;
    color: white;
    text-align: left;
    padding: 10%;
}
.content13 {
    grid-area: content13;
    justify-content: center;
}
.content14 {
    grid-area: content14;
    justify-content: center;
}
